@model FizzBook.Areas.Master.Models.Hotels.TableModel

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Edit @Model.TableNo
            </h5>
        </div>
        <div class="modal-body">
            <form id="formToSubmit"
                  method="post"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-begin="OnBegin"
                  data-ajax-success="completed"
                  data-ajax-failure="OnFailure"
                  enctype="multipart/form-data"
                  data-ajax-url="@Url.Action("EditTable","Hotels")">
                <div asp-validation-summary="ModelOnly">
                    <span>Please correct the following errors</span>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label asp-for="TableNo"></label>
                        <input asp-for="TableNo" autofocus class="form-control" name="TableNo" placeholder="" />
                        <span asp-validation-for="TableNo" class="text-danger"></span>
                    </div>

                    <div class="col-lg-6">
                        <label asp-for="MaxNoOfPersons"></label>
                        <input asp-for="MaxNoOfPersons" min="0" autofocus class="form-control" name="MaxNoOfPersons" placeholder="" />
                        <span asp-validation-for="MaxNoOfPersons" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label asp-for="TableView"></label>
                        <input asp-for="TableView" autofocus class="form-control" name="TableView" placeholder="" />
                        <span asp-validation-for="TableView" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="FarePerHour"></label>
                        <input asp-for="FarePerHour" autofocus class="form-control" name="FarePerHour" placeholder="" />
                        <span asp-validation-for="FarePerHour" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <label asp-for="HotelId">Hotel</label>
                        @Html.DropDownListFor(x => Model.HotelId, new SelectList(Model.Hotels, "Value", "Text"), "Select Hotel", htmlAttributes: new { @class = "form-control", id = "Hotel" })
                        <span asp-validation-for="HotelId" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4">
                        <label asp-for="BuildingId">Building</label>
                        @Html.DropDownListFor(x => Model.BuildingId, new SelectList(Model.Buildings, "Value", "Text"), "Select Building", htmlAttributes: new { @class = "form-control", id = "Building" })
                        <span asp-validation-for="BuildingId" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4">
                        <label asp-for="FloorId">Floor</label>
                        @Html.DropDownListFor(x => Model.FloorId, new SelectList(Model.Floors, "Value", "Text"), "Select Floor", htmlAttributes: new { @class = "form-control", id = "Floor" })
                        <span asp-validation-for="FloorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <label>Image</label>
                        <div class="custom-file">
                            <input asp-for="TableImage" name="TableImage" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="TableImage" class="text-danger"></span>
                    </div>
                    @if (Model.ImageUrl != null)
                    {
                        <label>Previous Image</label>
                        <div class="col-lg-4">
                            <img src="~/Images/@Model.ImageUrl" width="50" height="50" />
                        </div>
                    }
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" autofocus class="form-control" name="Description" placeholder="" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            <button type="button" onclick="SubmitForm()" id="GenericOkbtn" class="btn btn-primary font-weight-bold">Submit</button>
        </div>
    </div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery.validator.unobtrusive.parse("#formToSubmit");
    });
</script>
<script>
      $(document).ready(function () {
          $('#Hotel').change(function () {
              var selectedHotel = $("#Hotel").val();
              var buildings = $('#Building');
              buildings.empty();
              if (selectedHotel != null && selectedHotel != '') {
                  $.getJSON('@Url.Action("GetBuildings")', { id: selectedHotel }, function (result) {
                        {
                          buildings.append($('<option/>', {
                              value: null,
                              text: "Select Building"
                            }));
                        $.each(result, function (index, building) {
                            buildings.append($('<option/>', {
                                value: building.value,
                                text: building.text
                                }));
                            });
                        };
                 });
              }
          });
          $('#Building').change(function () {
              var selectedBuilding = $("#Building").val();
              var floors = $('#Floor');
              floors.empty();
              if (selectedBuilding != null && selectedBuilding != '') {
                  $.getJSON('@Url.Action("GetFloors")', { id: selectedBuilding }, function (result) {
                        {
                          floors.append($('<option/>', {
                                value: null,
                                text: "Select Floor"
                            }));
                        $.each(result, function (index, floor) {
                            floors.append($('<option/>', {
                                value: floor.value,
                                text: floor.text
                                }));
                            });
                        };
                 });
              }
          });
      });
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>